################################################################################
################################################################################
##                                                                            ##
##                  [ V N K - V I N A  K N O W L E D G E ]                    ##
##                                                                            ##
##                   SITE  : https://www.vinaknowledge.com                    ##
##                   EMAIL : hvloi@vinaknowledge.com                          ##
##                                                                            ##
##                       TAN BINH DST, HCMC, VIET NAM                         ##
##                                                                            ##
##                      Copyright © 2019 Vina Knowledge                       ##
##                                                                            ##
################################################################################
################################################################################

##
# V N K  -  G I T  I G N O R E  F O R  W O R K S P A C E
##

##------------------------------------------------------------------------------
# C O N T E N T
##

##
# DO IGNORED
##

# Ignore commit message #
COMMIT.MSG

# Ignore JTAGS files #
GPATH
GRTAGS
GTAGS

##
# NO IGNORED
##

# <This session is empty> #

##
# E N D
##------------------------------------------------------------------------------
